table {
    border-collapse: collapse;
    font-family: sans-serif;
}

thead {
    font-weight: 700;
}

#room {
    color: gray;
}

#price {
    color: gray;    
}

#wifi {
    color: gray;    
}

#etat {
    color: gray;
}

#room tbody {
    color : blue;
}

.booked {
    color: white;
    padding: 5px 15px;
}

.reserved {
    background: red;
}
.notreserved {
    background: green;
}

tbody > tr:nth-of-type(odd) {
    background-color: gray;
}